/*====================================================================

  Web site: Iron Island Amusement Park
  Title: External Styles
  Description:
    This CSS page contains external styles for the web site.  The 
  color scheme used is composed of the five colors shown in the color
  scheme section.

====================================================================*/

/*====================================================================
 Color scheme
====================================================================*/ 
:root 
{
  --color-darkgold: #F2A819FF;
  --color-lightgold: #F8D010FF;
  --color-blue: #263B75FF;
  --color-teal: #40937FFF;
  --color-orange: #E85134FF;
}

/*====================================================================
 General style
====================================================================*/ 
*
{
  box-sizing: border-box;
}

/*====================================================================
 Body style
====================================================================*/
body
{
  background-color:var(--color-darkgold);
  font-family:verdana, georgia, san-serif;
  font-size:20px;
  font-weight:bold;
}

/*====================================================================
 Anchor style
====================================================================*/
a
{
  color:white;
  padding:20px;
}

/*====================================================================
 Fieldset styles
====================================================================*/
fieldset
{
  background-color:var(--color-lightgold);
  color:black;
  padding:20px;
  width:50%;
}
    
fieldset input
{
  width:35%;
}

/*====================================================================
 Heading styles
====================================================================*/
h1
{
  font-size:40px;
  text-align:center;
}
h2
{
  font-size:30px;
  text-align:center;
}
h3
{
  font-size:20px;
  text-align:center;
}

/*====================================================================
 iFrame style
====================================================================*/
iframe
{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

/*====================================================================
 Input and select styles
====================================================================*/
    
input, select
{
  background-color:white;
  font-size:24px;
  font-weight:bold;
  padding:12px;
  width:50%;
}

input:read-only 
{
  background-color:var(--color-teal);
  color:white;
}

#txtTicketCost,
#txtParkingCost,
#txtDiscountAmount {
  background-color: var(--color-blue);
}

/*====================================================================
 Label style
====================================================================*/
    
label
{
  display:inline-block;
  font-size:18px;
  width:35%;
}
    
label.statusLabel
{
  display:inline-block;
  background-color:var(--color-darkgold);
  color:black;
  font-size:32px;
  font-weight:bold;
  margin:20px;
  padding:20px;
  width:25%;
}

/*====================================================================
 Class styles
====================================================================*/
 
.headerPanel
{
  background-color:var(--color-blue);
  clear:both;
  color:white;
  padding:4px;
  width:100%;
}
 
.menuPanel
{
  background-color:var(--color-teal);
  clear:both;
  padding:4px;
  width:100%;
}

.contentPanel1
{
  background-image:
    linear-gradient(var(--color-darkgold), var(--color-lightgold));
  color:black;
  float:left;
  height:300px;
  overflow:auto;
  padding:12px;
  width:35%;
}

.contentPanel2
{
  background-image:
    linear-gradient(var(--color-darkgold), var(--color-lightgold));
  color:black;
  float:left;
  height:300px;
  overflow:auto;
  padding:12px;
  width:30%;
}

.contentPanel3
{
  float:left;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  padding:12px;
  width:50%;
}

.contentPanel4
{
  float:left;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  padding:12px;
  width:50%;
}

.tablePanel
{
  background-color:var(--color-lightgold);
  clear:both;
  margin-left:auto;
  margin-right:auto;
  padding:4px;
  width:80%;
}

.footerPanel
{
  background-color:var(--color-blue);
  clear:both;
  color:white;
  padding:4px;
  width:100%;
}

.formButton
{
  background-color:var(--color-orange);
  border-radius: 1vw;
  color:white;
  font-size:28px;
  margin:10px;
  padding:20px;
  width:25%;
}

/*====================================================================
 Pseudo classes
====================================================================*/
a:hover, .formButton:hover
{
  background-color:var(--color-blue);
}
